<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!-- 管理者専用アラート -->
      <% if admin_signed_in? %>
        <div class="alert alert-warning" role="alert">
          <strong>注意：</strong> こちらは管理者専用画面です
        </div>
      <% end %>
      <h1 class="mb-4 text-center">タックル一覧</h1>
      <table class="table table-striped table-bordered">
         <colgroup>
          <col style="width: 40%;">
          <col style="width: 40%;">
          <col style="width: 20%;">
         </colgroup>
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">登録者</th>
            <th scope="col" class="text-center">タックル名</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if @tackles.any? %>
            <% @tackles.each do |tackle| %>
              <tr>
                <td class="break-word"><%= link_to tackle.customer.name, admin_customer_posts_path(customer_id: tackle.customer.id) %></td>
                <td class="break-word"><%= link_to tackle.name, admin_tackle_path(tackle) %></td>
                <td class="text-center">
                  <%= link_to '管理者権限で削除', admin_tackle_path(tackle), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center">タックルが登録されていません</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @tackles %>
</div>
