  <!-- 会員情報セクション -->
<div class="card mb-4 shadow-sm">
  <div class="custom-card-body">
    <h5 class="card-title text-center mb-2 pt-2">
      <!--時間帯によってメッセージを変更-->
      <% if Time.current.hour < 12 %>
        おはようございます！
      <% elsif Time.current.hour < 18 %>
        こんにちは！
      <% else %>
        こんばんは！
      <% end %>
      <%= link_to "#{current_customer.name} さん", customer_path(current_customer), class: "text-dark text-center d-block" %>
    </h5>
    <%= render 'public/customers/info', customer: current_customer %>
  </div>
</div>
