<!--新しい感想を感想一覧の最初に追加-->
var commentsList = document.getElementById("comments-list");
var commentContent = "<%= j(@comment.comment) %>";
var commentCreatedAt = "<%= l(@comment.created_at, format: :custom_long) %>";
var newCommentHtml = '<div class="media mt-3"><div class="media-body"><p>' + commentContent + '</p><p class="text-muted">投稿日時: ' + commentCreatedAt + '</p></div></div>';

<!--「afterbegin」を「beforeend」に変えると新しい感想は最後に表示-->
commentsList.insertAdjacentHTML('afterbegin', newCommentHtml);

<!--フォームをリセット-->
document.getElementById("new_book_comment").reset();
