<div class="relationship-btn<%= customer.id %>">
  <% if current_customer != customer %>
    <% if current_customer.following?(customer) %>
      <%= link_to customer_relationships_path(customer.id), method: :delete, remote: true do %>
        フォロー外す
      <% end %>
    <% else %>
      <%= link_to customer_relationships_path(customer.id), method: :post, remote: true do %>
        フォローする
      <% end %>
    <% end %>
  <% end %>
</div>

