<!--「customers/_customer_section.html.erb」の４７行目にレンダリング-->
<!--この非同期通信は、「customers/_customer_section.html.erb」の「フォロー０　フォロワー０」のカウント部分を更新するためのもの-->
<!--「create.js.erb」では、$("#relationship-info").html("<%#= escape_javascript(render 'public/relationships/customer_follow_modal', customer: current_customer) %>");の部分-->

<!--フォローフォロワーモーダルボタン-->
<%= link_to '#followersModal', data: { toggle: 'modal' } do %>
  <span class="relationships_modal_btn_font_size" style="color: black;">フォロー</span>
  <span class="relationships_modal_btn_font_size"></span> <%= customer.followings.count %></span>
  <span class="relationships_modal_btn_font_size" style="color: black;">フォロワー</span>
  <span class="relationships_modal_btn_font_size"><%= current_customer.followers.count %></span>
<% end %>