<td id="relationship-btn<%= customer.id %>">
  <% if current_customer.following?(customer) %>
    <%= link_to 'フォロー中', customer_relationships_path(customer), method: :delete, data: { confirm: '本当に解除しますか？' }, remote: true, class: 'btn btn-primary btn-sm' %>
  <% else %>
    <%= link_to 'フォローする', customer_relationships_path(customer), method: :post, remote: true, class: 'btn btn-primary btn-sm' %>
  <% end %>
</td>

