<div class="container mt-5">
  <h1 class="mb-4">WERTBOOKについて</h1>
  
  <div class="site-overview mb-5">
    <h2>サイト概要</h2>
    <p>WERTBOOKは、任意の本に対してスレッドを立て、本の感想や考察を他者と共有できるコミュニティサイトです。</p>
  </div>
  
  <div class="theme-reason mb-5">
    <h2>テーマを選んだ理由</h2>
    <p>過去に受けた資格試験のために、推奨された多くの基本書を読み込んできました。その中で、学んだ内容を他人と自由に話し合い、アウトプットする機会が少ないことに悩んできました。この悩みは、専門書だけでなく、小説や評論、ビジネス書を読む多くの人に共通していると感じています。そこで、同じ本を読んだユーザー同士が質問や回答を通じて意見交換ができるプラットフォーム「WERTBOOK」を考案しました。</p>
  </div>
  
  <div class="target-users mb-5">
    <h2>ターゲットユーザ</h2>
    <ul>
      <li>読んでいる本の内容を言語化して記録したい人</li>
      <li>読んだ本の感想や考察をもとに他者と交流したい人</li>
    </ul>
  </div>
  
  <div class="main-use-cases">
    <h2>主な利用シーン</h2>
    <ul>
      <li>読み終わった本の感想を投稿したり、他者の感想を読みたいとき</li>
      <li>読んでる途中の本の考察を投稿したり、他者の考察を知りたいとき</li>
      <li>自分や他者が投稿した感想や考察を検索するとき</li>
    </ul>
  </div>
</div>

