<div class="container mt-5">
  <h1 class="mb-4 ">「釣りあい」について</h1>
  
  <div class="site-overview mb-5">
    <h2>サイト概要</h2>
    <p>魚釣りの釣果を投稿し、他の会員と釣果を共有できるコミュニティサイトです。</p>
  </div>
  
  <div class="theme-reason mb-5">
    <h2>テーマを選んだ理由</h2>
    <p>趣味の魚釣りを題材にしました。魚釣りをしていると釣った魚の写真や綺麗な風景、自慢の道具を写真に撮り、仲間と共有することがたびたびありました。</br>
      また、魚釣りに関するSNSを見るとタックル情報を一から並べて投稿している人が多かったことを思い出し、もし魚釣りに特化したコミュニティサイトでタックル情報を予めプリセットできるサイトがあれば便利だと思いテーマを決めました。</p>
  </div>
  
  <div class="target-users mb-5">
    <h2>ターゲットユーザ</h2>
    <ul>
      <li>魚釣りをしている人</li>
      <li>釣った魚を投稿を通じて他の会員と共有したい人</li>
    </ul>
  </div>
  
  <div class="main-use-cases">
    <h2>主な利用シーン</h2>
    <ul>
      <li>魚を釣り上げたとき</li>
      <li>狙ってるターゲットがどんな道具で釣れたのか他の会員の投稿からヒントを得たいとき</li>
      <li>他の会員の投稿でその魚や道具について投稿者に質問したいとき</li>
    </ul>
  </div>
</div>

