<!-- いいね一覧モーダル -->
<div class="modal fade" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">

<!--カードヘッダー-->
<div class="modal-header" style="background-color: #AFDFE4">
  <h5 class="modal-title" id="favoritesModalLabel">いいねをつけた投稿一覧</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--カードボディ-->
<div class="modal-body" style="background-color: #f0f9fa;">
  <% if @favorites.present? %>
    <div id="favorites">
    <%= render 'public/favorites/index', favorites: @favorites %>
    </div>
  <% else %>
    <p class="text-center">いいねをつけた投稿がありません</p>
  <% end %>
</div>


</div>
</div>
</div>