<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="row">
            <!--会員情報-->
             <%= render 'public/customers/customer_section', customer: current_customer %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 新規タックル登録ボタン -->
<div class="text-center mt-auto">
  <%= link_to '新規タックル登録', new_tackle_path, class: 'btn btn-primary btn-lg' %>
</div>
  
<!--1行目の閉じタグ-->
</div>

<!-- タックル一覧 -->
<div class="col-md-8 mx-auto">
  <div id="tackle-lists">
    <%= render 'public/tackles/tackles_index', tackles: @tackles %>
  </div>
</div>

</div>
</div>
