<div class="container mt-5">
<div class="row">
<div class="col-12">
  
  <!-- 管理者専用アラート -->
  <% if admin_signed_in? %>
  <div class="alert alert-warning" role="alert">
    <strong>注意：</strong> こちらは管理者専用画面です
  </div>
  <% end %>
  <h1 class="mb-4 text-center">コメント一覧</h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">コメント内容</th>
        <th scope="col">投稿者</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <td class="break-word"><%= comment.comment %></td>
        <td class="break-word"><%= comment.customer.email %></td>
        <td>
        <%= link_to '削除', admin_post_comment_path(comment), method: :delete, data: { confirm: 'このコメントを削除しますか？' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
</div>
