 /*固定ヘッダーのカスタム*/
  .navbar-custom {
    background-color: #AFDFE4;
  }
  

/*「posts/index」のタブ間の余白*/
.nav-item-custom {
  margin-right: 2px;
  margin-left: 2px;
}

/*フォロー/フォロワーの背景色*/
.bg-follow {
  background-color: #82b6cf;
}

.bg-follower {
  background-color: #87d49d;
}
