<!--新着通知モーダル-->
<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  
<!--カードヘッダー-->
<div class="modal-header" style="background-color: #AFDFE4">
  <p class="modal-title" id="notificationsModalLabel">新着通知</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--カードボディ-->
<div class="modal-body" style="background-color: #f0f9fa;">
  <!--ここに通知のリスト-->
  <% if current_customer.notifications.where(read: false).where.not(customer_id: current_customer.id).order(created_at: :desc).limit(15).exists? %>
  <% current_customer.notifications.where(read: false).where.not(customer_id: current_customer.id).order(created_at: :desc).limit(15).each do |notification| %>
  <div class="notification p-2 mb-2 border rounded"></div>
  <% end %>
  <% else %>
  <p class="text-center">新着通知はありません</p>
  <% end %>
</div>

</div>
</div>
</div>